$pink: #e21ca4;
$green: #d1ff6a;
$black: #191414;
$seagreen: #48937e;

body {
  font-family: 'Circular Book', 'Proxima Nova', sans-serif;
  background: $black;
  color: white;
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h2, h3 {
  letter-spacing: -.02em;
  font-weight: 900;
  font-family: 'Circular Spotify Tx T Black';
  margin: 0.3em;
}

p {
  margin: 0.3em;
}

div {
  box-sizing: border-box;
}

.pink {
  color: $pink;
  font-weight: 600;
}

.green {
  color: $green;
  font-weight: 600;
}

.black {
  color: $black;
  font-weight: 600;
}

button {
  margin: 10px;
  background: #1db954;
  border: none;
  border-radius: 20px/50%;
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;

  a {
    color: white;
    text-decoration: none;
  }
}

// .App {
//   padding: 5rem;
//   text-align: center;
// }

.playlist-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  justify-content: center;
}

.playlist {
  width: 200px;
  text-align: center;
  margin: 1em;
  box-sizing: border-box;

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.options {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  div {
    width: 100%;
    flex: 0 0 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s linear;
    cursor: pointer;

    &:nth-of-type(1) {
      background: $pink;
    }

    &:nth-of-type(2) {
      background: $seagreen;
    }

    &:nth-of-type(3) {
      background: $green;
      h2 {color: $black;}
      &:hover h2 {
        color: white;
      }
    }

    &:hover {
      background:$black;
    }
  }
}

.summary {
  scroll-snap-type: y mandatory;
}

.top-songs-wrapper {
  background: #191414;
  width: 100%;
  padding: 5em 0;
}

.top-songs {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;

  .songs {
    text-align: left;
    padding: 2em 5em;
    width: 50%;
  }

  .song-art {
    width: 50%;

    img {
      width: 100%;
    }
  }

  .song-wrapper {
    padding: 0.5em;
    display: flex;

    .song-number {
      padding-right: 1em;
    }

    .song-details {
      width: 80%;

      h3 {
        margin-bottom: 0;
      }
    }
  }
}

.top-artists-wrapper {
  background: $pink;
  width: 100%;
  padding: 5em 0;
}

.top-artists {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;

  .artists-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    .artist-wrapper {
      width: 350px;
      margin: 1em;

      .artist-images {
        width: 300px;
        height: 340px;
        position: relative;
        margin: 2em auto;
      }

      .img3 {
        width: 300px;
        height: 300px;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .img2 {
        width: 250px;
        height: 250px;
        object-fit: cover;
        position: absolute;
        bottom: 75px;
        left: 25px;
      }

      .img1 {
        width: 200px;
        height: 200px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 50px;
      }
    }
  }
}


.genres-wrapper {
  background: $green;
  width: 100%;
  padding: 5em 0;

  p, h2, h3 {
    color: $black;
  }

  .genres {
    max-width: 1200px;
    margin: 0 auto;
    // text-align: center;
  }
}

.genre-level-wrapper {
  display: flex;
  max-width: 1000px;
  margin: 2em auto;
  align-items: flex-end;
  justify-content: center;

  .genre-level {
    transform-style: preserve-3d;
    animation: 1s rotateRect 1s alternate;
    animation-fill-mode: forwards;
    perspective: 300px;
    position: relative;
    flex: 0 0 20%;
  }

  .genre-level-front {
    background: $pink;
    border: 1px solid $black;
    //flex: 0 0 20%;
    display: flex;
    padding: 1em;
    position: absolute;
    width: 200px;
    height: 100%;
  }

  .genre-level-side {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    background: $black;
    right:0;
    top: 0;
    transform-style: preserve-3d;
    transform: rotateY(90deg) translate3D(25px,0,25px);
    border: 3px solid $black;
  }

  &> div {
    &:nth-of-type(1) {
      height: 150px;
    }

    &:nth-of-type(2) {
      height: 200px;
    }

    &:nth-of-type(3) {
      height: 300px;
    }

    &:nth-of-type(4) {
      height: 400px;
    }

    &:nth-of-type(5) {
      height: 250px;
    }
  }
}

@keyframes rotateRect {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(-35deg);
  }
}

