$windows-grey: #eae9e7;

@font-face {
  font-family: FreePixel;
  src: url('./assets/FreePixel.ttf');
}

html {
  overflow: auto;
}

body {
  font-family: 'FreePixel', 'Proxima Nova', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  text-transform: uppercase;
}

h1, h2, h3 {
  letter-spacing: 0.05em;
  font-weight: 900;
  margin: 0.3em 0;
  line-height: 1;
}

p {
  margin: 0.3em;
}

div {
  box-sizing: border-box;
}

.button-wrapper {
  border: 1px solid #848382;
  display: inline-block;
  margin: 5px;
}

.button {
  font-family: 'FreePixel';
  font-size: 14px;
  background: #f9eded;
  border: 2px outset #fff;
  padding: 2px 15px;
  cursor: pointer;
  transition: 0.5s;

  a {
    text-decoration: none;
  }

  &:active {
    border: 2px inset #fffafa;
  }
}

.App {
  position: relative;

  &> div {
    background: url("./assets/pastel.jpeg");
    background-size: cover;
  }
}

.start-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: $windows-grey;
  border: 2px outset #fff;
  padding: 2px;

  .start-button {
    width: 80px;
    border: 2px outset #fff;
    box-shadow: 1px 1px #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    span {
      font-size: 14px;
      font-weight: 600;
    }

    img {
      width: 15px;
      margin-right: 5px;
    }
  }
}

.start-descrip {
  p {
    margin: 0 0 0.5em;
    font-size: 14px;
  }

  a {
    color: black;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genres-wrapper {
  width: 800px;
  height: 550px;
  position: relative;
}

.playlist-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  justify-content: center;
}

.playlist {
  text-align: center;
  margin: 1em;
  box-sizing: border-box;

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.folder-indent {
  margin-left: 7px;
  border-left: 1px solid black;
}

.folder-line {
  width: 10px;
  border-bottom: 1px solid black;
  margin-right: 5px;
  height: 7px;
}

.folder-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.1em;

  img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  .playlist-name {
    cursor: pointer;
    font-size: 14px;
    margin: 0.1em;
  }

  .folder-placeholder {
    display: flex;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;

    &.selected {
      outline: 2px solid #cef0df;
    }

    p {
      text-align: left;
      margin-top: 0;
      line-height: 1.3;
    }
  }
}

#login {
  img {width: 100px;}
  .content-window {padding: 25px;}
  .window-nav-bar ul li:after {
    content: '';
    position: absolute;
    width: 5px;
    left: 5px;
    bottom: 4px;
    border-bottom: 1px solid black;
  }
}

#credits {
  .content-window {
    text-align: left;
    width: 300px;
    height: 150px;
  }
}

#credits-link {
  cursor: pointer;

  &:hover{text-decoration: underline;}
}

#playlists {
  width: 400px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  .content-window {
    height: 500px;
    background: #fff;
    background-size: cover;
  }
}

#featured {
  width: 350px;
  position: absolute;
  top: 50px;
  right: 0px;
  height: auto;
  z-index: 5;

  .content-window {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    a {
      color: black;
      text-decoration: none;

      h3 {}

      &:hover h3 {
        text-decoration: underline;
      }
    }
  }
}

.main-window {
  border: 2px outset #d8d6d5;
  padding: 3px;
  background: $windows-grey;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

.window-title-bar {
  font-family: 'FreePixel';
  background: linear-gradient(90deg, rgba(253,105,243,1) 0%, rgba(28,177,250,1) 100%);
  width: 100%;
  padding: 7px 10px;
  position: relative;
  border: 1px solid #cacdcc;

  p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
  }

  .close {
    position: absolute;
    right: 5px;
    top: 4px;
    background: $windows-grey;
    border: 2px outset #d8d6d5;
    padding: 0 3px;
    font-size: 12px;
    color: black;
    cursor: pointer;
    font-family: 'Verdana';
    font-weight: 100;

    &:active {
      border: 2px inset #d8d6d5;
    }
  }
}

.inner-window {
  background: $windows-grey;
}

.window-nav-bar {
  width: 100%;
  background: $windows-grey;
  padding: 0px 0px 3px 0px;
  border-bottom: 1px solid #848382;

  ul {
    margin: 0px;
    padding: 0;

    li {
      display: inline-block;
      font-size: 12px;
      text-transform: capitalize;
      padding: 0px 5px;
      position: relative;
    }
  }
}

.address-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  padding: 3px 0;
  border-top: 2px solid #fff;

  .url {
    height: 25px;
    flex-grow: 1;
    background: white;
    border: 2px inset #d8d6d5;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.content-window {
  background: #f9eded;
  border: 2px inset #d8d6d5;
  padding: 10px;
  text-align: center;
  overflow-y: scroll;
}

.content {
  height: 150px;
  text-align: center;
  padding: 20px 10px;
}

.bottom-bar {
  width: 150px;
  margin: 2px 5px 1px;
  border: 1px inset #fff;

  p {
    margin: 0;
    font-size: 12px;
  }
}

.loading-bar {
  display: inline-block;
  width: 300px;
  background: #f9eded;
  height: 25px;
  margin: 0;
  border: 2px inset #d8d6d5;

  .loading-bar-inner {
    background: linear-gradient(
      90deg,
      rgba(250, 245, 178, 1) 0%,
      rgba(247, 180, 195, 1) 33%,
      rgba(207, 210, 234, 1) 70%,
      rgba(206, 226, 224, 1) 100%
    );
    height: 100%;
    animation: expand 1.5s ease-in;
  }
}

.genres {
  color: #2131c9;
  margin: 0;
}

@keyframes expand {
  0% {width: 0px;}
  100% {width: 100%;}
}

@media only screen and (max-width: 800px) {
  .wrapper {
    padding: 1em;
  }
}

@media only screen and (max-width: 600px) {
  #login {
    width: 100%;
  }

  .wrapper {
    padding: 1em;
  }

  .genres-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  #playlists, #featured {
    position: relative;
    width: 100%;
  }

  #featured {
    left: 10px;
    top: 15px;
  }

  .popup-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    position: absolute;
  }

  .loading-bar {
    width: 100%;
  }

  .playlist {
    margin: 0.3em;

    img {
      max-width: 100%;
    }
  }
}

@media only screen and (max-height: 600px) {
  h1 {
    font-size: 1.5em;
  }

  #login img {
    width: 60px;
  }

  #playlists {
    left: -10px;
   .content-window {
      height: 300px;
    }
  }

  #featured {
    left: 20px;

    .content-window {
      height: 300px;
    }
  }

  .playlist img {
    width: 150px;
    height: 150px;
    margin-top: 15px;
  }
}

